
@media only screen and (max-width: 600px) {
  .header-container {
    font-family: Domine;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex-wrap: nowrap;
    border-style: none none solid none;
  }

  .title {
    font-size: 60px;
    align-self: center;
    flex-grow: 1;
    color: black;
    text-align: center;
  }

  .date {
    align-self: center;
    color: black;
  }

  .iotd {
    width: 90%;
    height: auto;
    margin: 1rem;
    align-self: center;
  }

  .img-container {
    background-color: black;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
  }

  .text {
    align-self: center;
    padding-left: 1rem;
    border: #F0EBD8;
    border-style: solid none none none;
    color: white;
  }

  .copy {
    font-style: italic;
  }

  button {
    appearance: none;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 15px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 40px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 50%;
    will-change: transform;
  }

    button:disabled {
      pointer-events: none;
    }

    button:hover {
      color: #fff;
      background-color: #1A1A1A;
      box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
      transform: translateY(-2px);
    }

    button:active {
      box-shadow: none;
      transform: translateY(0);
    }


  iframe {
    width: 90%;
    height: auto;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .header-container {
    font-family: Domine;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex-wrap: nowrap;
    border-style: none none solid none;
  }

  .title {
    font-size: 60px;
    align-self: center;
    flex-grow: 1;
    color: black;
    text-align: center;
  }

  .date {
    align-self: center;
    color: black;
  }

  .iotd {
    width: 90%;
    height: auto;
    margin: 1rem;
    align-self: center;
  }

  .img-container {
    background-color: black;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
  }

  .text {
    align-self: center;
    padding-left: 1rem;
    border: #F0EBD8;
    border-style: solid none none none;
    color: white;
  }

  .copy {
    font-style: italic;
  }

  button {
    appearance: none;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 15px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 40px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 50%;
    will-change: transform;
  }

    button:disabled {
      pointer-events: none;
    }

    button:hover {
      color: #fff;
      background-color: #1A1A1A;
      box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
      transform: translateY(-2px);
    }

    button:active {
      box-shadow: none;
      transform: translateY(0);
    }


  iframe {
    width: 90%;
    height: auto;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .header-container {
    font-family: Domine;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    flex-wrap: nowrap;
    border-style: none none solid none;
  }

  .title {
    font-size: 60px;
    align-self: center;
    flex-grow: 1;
    color: black;
    text-align: center;
  }

  .date {
    align-self: center;
    color: black;
  }

  .iotd {
    width: 90%;
    height: auto;
    margin: 1rem;
    align-self: center;
  }

  .img-container {
    background-color: black;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
  }

  .text {
    align-self: center;
    padding-left: 1rem;
    border: #F0EBD8;
    border-style: solid none none none;
    color: white;
  }

  .copy {
    font-style: italic;
  }

  button {
    appearance: none;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 15px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 40px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 50%;
    will-change: transform;
  }

    button:disabled {
      pointer-events: none;
    }

    button:hover {
      color: #fff;
      background-color: #1A1A1A;
      box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
      transform: translateY(-2px);
    }

    button:active {
      box-shadow: none;
      transform: translateY(0);
    }


  iframe {
    width: 90%;
    height: auto;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .header-container {
    font-family: Domine;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: nowrap;
    border-style: none none solid none;
  }

  .title {
    font-size: 60px;
    align-self: center;
    flex-grow: 1;
    color: black;
  }

  .date {
    align-self: center;
    color: black;
  }

  .iotd {
    width: 75%;
    height: auto;
    margin: 1rem;
  }

  .img-container {
    background-color: black;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    border-radius: 2rem;
  }

  .text {
    align-self: center;
    padding-left: 1rem;
    border: #F0EBD8;
    border-style: none none none solid;
    color: white;
  }

  .copy {
    font-style: italic;
  }

  button {
    appearance: none;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 15px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 40px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 50%;
    will-change: transform;
  }

    button:disabled {
      pointer-events: none;
    }

    button:hover {
      color: #fff;
      background-color: #1A1A1A;
      box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
      transform: translateY(-2px);
    }

    button:active {
      box-shadow: none;
      transform: translateY(0);
    }


  iframe {
    width: 90%;
    height: auto;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .header-container {
    font-family: Domine;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: nowrap;
    border-style: none none solid none;
  }

  .title {
    font-size: 60px;
    align-self: center;
    flex-grow: 1;
    color: black;
  }

  .date {
    align-self: center;
    color: black;
  }

  .iotd {
    width: 75%;
    height: auto;
    margin: 1rem;
  }

  .img-container {
    background-color: black;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    border-radius: 2rem;
  }

  .text {
    align-self: center;
    padding-left: 1rem;
    border: #F0EBD8;
    border-style: none none none solid;
    color: white;
  }

  .copy {
    font-style: italic;
  }

  button {
    appearance: none;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 15px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 40px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 50%;
    will-change: transform;
  }

    button:disabled {
      pointer-events: none;
    }

    button:hover {
      color: #fff;
      background-color: #1A1A1A;
      box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
      transform: translateY(-2px);
    }

    button:active {
      box-shadow: none;
      transform: translateY(0);
    }


  iframe {
    width: 90%;
    height: auto;
  }
}
